#title {
    background-image: url("../img/giphy.gif");
    padding-left: 300px;
    padding-bottom: 150px;
}
#bottom{
    background-image: url("../img/giphy.gif");
    margin-top: 260px;
    padding-top: 10px;
}
#pictarot {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 360px;
}

#backcard {

  font-family: fantasy;
  text-align: center;
}

#title2 {
  text-align: center;
  font-family: fantasy;
}


.boxmodel-2 a {
  margin-left: 450px;
  font-size: 40px;
  font-family: Times,inherit;
  color: white;
  }

.boxmodel-2 a:hover{
    color: violet;
    text-decoration: underline;
  }

  .boxmodel-2 p {
    text-align: center;
    font-size: 20px;
    font-family: Times,inherit;
    color: white;
    }

#imgReading1 {
  display: none;
}

#imgReading2 {
  display: none;
}

#imgReading3{
  display: none;
}

#newReading {
  margin-top: 100px;
  margin-left: 43%;
}

audio {
  margin-left: 1000px;
}
