html {
  height: 100%;
  background-color:#000000;
  background: url("../images/newTarotDesk.jpeg") no-repeat center center;
  background-size: cover;
  background-position-y: inherit;
  font-family: fantasy;
  /* background-color: darkred; */
  color: #e6b81a;
}

#container {
  padding: 15px;
  margin: 15px;
}
body {
  margin:0;
  padding:0;
}

h1 {
  color: #e6b81a;
  font-size: 3em;
  padding:15px;
  margin:15px;
  text-align: center;
}
